*{
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
}

body {background: #E9EFD6;}


#container{
    display: flex;
    flex-flow: row wrap;

}

#logo{

    margin-left: 20px;
    width: 50px;
    color:#f45800;
    display: inline-block;
    vertical-align: text-bottom;
}

#searchBar a{
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 0;
}

#categoryBar{
    width:100%;
    height:50px;
}

.categories{
    font-size:15px;
    display:inline-block;
    text-decoration:none;
    line-height:30px;
    margin-right: 2%;
}

li{
    color:black;
    font-size: 30px;
}

ul{
    margin-left: 20px;
    padding-left: 0px;
}

ul a{
    font-size: 0;
}

input{
    font-size: 40px;
    vertical-align: text-bottom;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 50px;
}
.itemsContainer{
 /*   flex: 3;  */
    padding: 2em;
    width: 29%;
    display: inline-block;
    background: white;
    margin: 20px;
    box-shadow: 4px 4px 5px #cecece;

}

.itemsContainer img{
display: block;
margin: 0 auto;

}

.title{
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}

.price{
    text-align: right;
}

@media screen and (max-width: 800px) {
.itemsContainer{
    width: 48%;
}
}

@media screen and (max-width: 640px) {
.itemsContainer{
    width: 100%;
}
}